form {
    font-size: 18px;

}
form>div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 5px
}
form>div>div {
    -ms-flex: 1;
    flex: 1;
    max-width: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column;
    position: relative
}
